<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="com.weadmin.devicepanel_rap.example.ExampleOne"
            id="com.weadmin.devicepanel-rap.example.entrypoint1"
            path="/hello">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="com.weadmin.devicepanel_rap.example.ExampleTwo"
            id="com.weadmin.devicepanel-rap.example.entrypoint2"
            path="/hello2">
      </entrypoint>
   </extension>

</plugin>
