
.headerDesc ul {
  list-style:none;
  padding:0;
  float: left;
  position: relative;
  left: 50%;
      margin: 0;
}
.headerDesc ul li {
  float: left;
  position: relative;
  display: inline-block;
  text-align: center;
  left: -50%;
}
.clearfix:after {content:"."; display:block; height:0;  clear:both; }
.clearfix { *zoom:1; }

.menu {
font-family: arial, sans-serif;
margin:0;
z-index: 999999;
position:absolute;
}
/* remove the bullets and set the margin and padding to zero for the unordered list */
.menu ul {
padding:0;
margin:0;
list-style-type: none;
}
/* float the list so that the items are in a line and their position relative so that the drop down list will appear in the right place underneath each list item */
.menu ul li {
position:relative;
}
/* style the links to be 104px wide by 30px high with a top and right border 1px solid white. Set the background color and the font size. */
.menu ul li a{
display:block;
text-align:center;
text-decoration:none;
width:104px;
height:30px;
color:#000;
border:1px solid #fff;
border-width:1px 1px 0 0;
background:#c9c9a7;
line-height:30px;
font-size:11px;
}
/* make the dropdown ul invisible */
.menu ul li ul {
display: none;
}

/* specific to non IE browsers */
/* set the background and foreground color of the main menu li on hover */
.menu ul li:hover a {
color:#fff;
background:#b3ab79;
}
/* make the sub menu ul visible and position it beneath the main menu list item */
.menu ul li:hover ul {
display:block;
position:absolute;
top:0px;
left:104px;
width:105px;
}
/* style the background and foreground color of the submenu links */
.menu ul li:hover ul li a {
display:block;
background:#faeec7;
color:#000;
}
/* style the background and forground colors of the links on hover */
.menu ul li:hover ul li a:hover {
background:#dfc184;
color:#000;
}

.mousedownEle{
  position: absolute;
  z-index: 999999;
  display: inline-block;
  text-align:center;
  text-decoration:none;
  padding: 5px;
  border: 1px solid #A3BB44;
  border-radius: 2px 3px;
  background: #AECC33;
  opacity: 0.5;
}
.svgContainer{
  -webkit-text-size-adjust:none;
}
.portNameDialog{
  position:absolute;
  top: 0;
  background: #BDBDC3;
  border:1px solid #AECC33;
  border-radius: 3px 3px;
  /*width: 130px;*/
  /*overflow: auto;*/
}
.portNameDialog ul{
  overflow-y:scroll;
  height:200px;
  /*margin-top: 40px;*/
}
.portNameDialog ul li a{
  background: #EAE6E6;
  cursor: pointer;
}
.portNameDialog ul li a.nameUsed{
  background: #8AD082;
}
.portNameDialog ul li a.mousedownBack{
  background: #7B807B;
}
.portNameDialog ul li a:hover,.portNameDialog ul li a.nameUsed:hover {
background:#C1B8B8;
color:#000;
}
.portNameList{
  height:200px;
}
.dialogHeader{
  cursor:move;
  position: relative;
  width:100%;
  min-width:100px;
  height:25px;
}
.dialogHeader p{
  line-height: 25px;
  font-size: 14px;
  color: #FFF;
  margin: 0 0 0 23px;
  text-align: left;
}
.showIn_Out{
  position: absolute;
  height:25px;
  width:18px;
  border-left:1px solid #7B807B;
  line-height: 25px;
  background: #716D6D;
    right: 0;
    top: 0;
    cursor: pointer;
}
.triangleUp {
    position: relative;
    top: 8px;
    left: 4px;
    width: 0;
    height: 0;
    line-height: 25px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #333333;
}
.triangleDown {
    position: relative;
    top: 8px;
    left: 4px;
    width: 0;
    height: 0;
    line-height: 25px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #333333;
}
.showHideTip{
  position: absolute;
  top: 2px;
  right: 19px;
  z-index: 888888;
  border: 1px solid #ADA5A5;
  border-radius: 5px;
  background: #F1E8E8;
}
